*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#538392 0%, #B3E2A7 100% );
}
h2{
    text-align: center;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:aliceblue;
    padding: 20px 45px 20px 20px;
}
.form{
    color: aliceblue;
    width: 400px;
    background:#80b9ad85;
    border-radius: 15px;
    padding: 50px 50px;
}
.form .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
::placeholder{
    color: aliceblue;
}
.aksi-tambah{
    background-color: #6295A2 ;
    color:aliceblue;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 30px;
}
.tambah{
    text-align: center;
}